* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */

}
@font-face {
  font-family: 'Language-App';
  src: url('fonts/Language-App.eot');
  src: url('fonts/Language-App.eot?#iefix') format('embedded-opentype'), url('fonts/Language-App.svg#Language-App') format('svg'), url('fonts/Language-App.woff') format('woff'), url('fonts/Language-App.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'Language-App';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'Language-App';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-play:before {
  content: "\e003";
}
.icon-pause:before {
  content: "\e004";
}
.icon-volume-mute:before {
  content: "\e000";
}
.icon-volume-low:before {
  content: "\e001";
}
.icon-volume-medium:before {
  content: "\e005";
}
.icon-volume-high:before {
  content: "\e006";
}
.icon-equalizer:before {
  content: "\e007";
}
.icon-arrow-left-alt1:before {
  content: "\e008";
}
.body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */

  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */

  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */

  background-repeat: no-repeat;
  background-color: #596a72;
  background-attachment: fixed;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.phrase-container {
  margin: 0;
  padding: 0;
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
/* ==========================================================================
   Various Resolutions
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 320px) {
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
  
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
  
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
  
    background-repeat: no-repeat;
    background-color: #596a72;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: url(../images/background-iphone.jpg);
    background-position: 0 0;
  }
  a {
    text-decoration: none;
  }
  /* Landscape layout (with min-width) */
  /*
  	@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  	    .app {
  	        background-position:left center;
  	        padding:75px 0px 75px 170px;
  	        margin:-90px 0px 0px -198px;
  	    }
  	}
  	*/
  /* Strucutre Stuff */
  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: #222;
    padding: 0;
    border-top: 1px solid #444;
    text-align: center;
  }
  #footer a {
    display: inline-block;
    margin: .40em 2em 0 2em;
    font-size: 1.5em;
    color: #FFF;
  }
  #wrapper {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: auto;
  }
  #scroller {
    position: relative;
    /*	-webkit-touch-callout:none;*/
  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    float: left;
    width: 100%;
    padding: 0;
  }
  /* Custom Views */
  #logo-island {
    width: 267px;
    height: 222px;
    display: block;
    background: url(../images/island@1x.png) 0 0 no-repeat;
    margin: 1em auto 1.5em auto;
  }
  h1 {
    margin: .25em .25em 0 .25em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    padding: 0px;
    text-align: center;
    line-height: 1.25em;
    letter-spacing: -2px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 1px 1px 2px #555555;
  }
  #lessons-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #lessons-list li {
    margin: 0;
    padding: 1em;
    border-bottom: 3px solid #FFFFFF;
  }
  #lessons-list li:last-child {
    border-bottom: 0px;
  }
  #lessons-list li a {
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    text-shadow: 1px 1px 1px #555555;
  }
  #lessons-list li a::active {
    background: #FFF;
    color: #333;
  }
  /* Phrases */
  #phrases-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #phrases-list li {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .25em;
    margin: .75em .5em;
    padding: .5em;
  }
  #phrases-list li a {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.25em;
  }
  #phrases-list li a.play-phrase {
    text-align: center;
    display: block;
    padding: .25em .5em;
    color: #333333;
  }
  #phrase-container {
    min-height: 480px;
    margin: 0;
    padding: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    /* Chrome,Safari4+ */
  
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Opera 12+ */
  
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* IE10+ */
  
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  
  }
  #foreign-phrase {
    margin: 0;
    padding: .75em .25em .5em .25em;
    text-align: center;
    color: #FFFFFF;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: -1px;
  }
  #native-phrase {
    margin: 0;
    padding: 0 .25em 0 .25em;
    color: #000000;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: -1px;
  }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 748px) {
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
  
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
  
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
  
    background-repeat: no-repeat;
    background-color: #596a72;
    background-attachment: fixed;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: url(../images/background-ipad.jpg);
    background-position: 0 0;
  }
  a {
    text-decoration: none;
  }
  /* Landscape layout (with min-width) */
  /*
  	@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  	    .app {
  	        background-position:left center;
  	        padding:75px 0px 75px 170px;
  	        margin:-90px 0px 0px -198px;
  	    }
  	}
  	*/
  /* Strucutre Stuff */
  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #222;
    padding: 0;
    border-top: 1px solid #444;
    text-align: center;
  }
  #footer a {
    display: inline-block;
    margin: .40em 2em 0 2em;
    font-size: 1.5em;
    color: #FFF;
  }
  #wrapper {
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: auto;
  }
  #scroller {
    position: relative;
    /*	-webkit-touch-callout:none;*/
  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    float: left;
    width: 100%;
    padding: 0;
  }
  /* Custom Views */
  #logo-island {
    width: 267px;
    height: 222px;
    display: block;
    background: url(../images/island@1x.png) 0 0 no-repeat;
    margin: 1em auto 1.5em auto;
  }
  h1 {
    margin: .25em .25em 0 .25em;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    padding: 0px;
    text-align: center;
    line-height: 1.25em;
    letter-spacing: -2px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 1px 1px 2px #555555;
  }
  #lessons-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #lessons-list li {
    margin: 0;
    padding: 1em;
    border-bottom: 3px solid #FFFFFF;
  }
  #lessons-list li:last-child {
    border-bottom: 0px;
  }
  #lessons-list li a {
    color: #FFF;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    text-shadow: 1px 1px 1px #555555;
  }
  #lessons-list li a::active {
    background: #FFF;
    color: #333;
  }
  /* Phrases */
  #phrases-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #phrases-list li {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: .25em;
    margin: .75em .5em;
    padding: .5em;
  }
  #phrases-list li a {
    color: #000000;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.25em;
  }
  #phrases-list li a.play-phrase {
    text-align: center;
    display: block;
    padding: .25em .5em;
    color: #333333;
  }
  #phrase-container {
    min-height: 960px;
    margin: 0;
    padding: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* FF3.6+ */
  
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    /* Chrome,Safari4+ */
  
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Chrome10+,Safari5.1+ */
  
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* Opera 12+ */
  
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* IE10+ */
  
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
    /* W3C */
  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  
  }
  #foreign-phrase {
    margin: 0;
    padding: .75em .25em .5em .25em;
    text-align: center;
    color: #FFFFFF;
    font-size: 4em;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: -1px;
  }
  #native-phrase {
    margin: 0;
    padding: 0 .25em 0 .25em;
    color: #000000;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.5em;
    letter-spacing: -1px;
  }
}
